@font-face {
    font-family: LocalFont;
    src: url(assets/haettenschweiler.ttf);
}

html {
    font-family: "Comic Sans MS", serif;
    margin: 0 0 0 50px;
    padding: 0;
    background: url("assets/background_2.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-top: 25%;
}

@media only screen and (max-width: 650px) {
    .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px){
    .item{
        margin-top: 10%;
    }
}

#text-item{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 15%;
    flex-grow: 1;
    font-size: 200%;
    size:120%
}
