html {
    font-family: "Comic Sans MS", serif;
    margin: 0 0 0 50px;
    padding: 0;
    background: url("assets/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30%;
}

@media only screen and (max-width: 650px) {
    .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px){
    .item{
        margin-top: 10%;
    }
}

#text-item{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 15%;
    flex-grow: 1;
    font-size: 230%;
    color: white;
}

#GooglePlayIMG{
    width : 40%;
    position:relative;
    top: 30%;
    left: 60%;
}

@media only screen and (max-width: 650px){
    #GooglePlayIMG{
        left: 20%;
    }
}

#AppStoreIMG{
    width: 60%;
    position:relative;
    top: 30%;
    left: 30%;
}

@media only screen and (max-width: 650px){
    #AppStoreIMG{
        width: 40%;
        left : 20%;
    }
}

#NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
}

.menu {
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu:hover a{
    color: cyan;
    font-size: 110%;
}

#logo {
    width: 5%;
}